<ng-container *ngIf="loading$|async as loading">
    <p-progressSpinner *ngIf="loading"
        [style]="{width: '50px', height: '50px', position: 'absolute',top:'35%',left:'50%'}" strokeWidth="8"
        animationDuration=".5s">
    </p-progressSpinner>
</ng-container>
<ng-container *ngIf="job$|async as channel">
    <h1>{{channel[0]?.title|titleCase}}</h1>
    <mat-drawer-container>
        <mat-drawer mode="side" opened>Drawer content</mat-drawer>
        <mat-drawer-content>
            <div class="p-grid">
                <ng-container *ngFor="let ch of channel;">
                    <ng-container *ngFor="let item of ch.item;">
                        <div class="p-col-12 p-md-4">
                            <div class="card">
                                <h5>{{item.title}}</h5>
                                <div class="p-d-flex p-ai-center">
                                    <ng-container *ngFor="let cat of item?.category;">
                                        <p-chip label="{{cat}}" styleClass="p-mr-2 custom-chip"></p-chip>
                                    </ng-container>
                                </div>
                                <div>
                                    <a href="{{item.link}}">Open</a>
                                    <div>{{item.pubDate[0]}}</div>
                                </div>
                                <br />
                                <p-avatar label="P" styleClass="p-mr-2" size="xlarge"></p-avatar>
                                <div>
                                    <ng-container *ngFor="let desc of item?.description;">
                                        <!-- <div>{{item?.location[0]._}}</div> -->
                                        <!-- <div class="desc" innerHTML="{{desc}}"></div> -->
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>

            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</ng-container>